/* Page wide styling */
body{
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Title styling */
.title{
    font-size: 36px;
    margin-top: 50px;
}
/* Calculator styling */
.calculator{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: antiquewhite;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.display{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    height: 75px;
    align-items: center;
    font-size: 26px;
    background-color: white;
}
.controls{
    display: flex;
    flex-direction: column;
}
/* Operator styling */
.operator-row{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 110px 0px 110px;
    margin-bottom: 20px;
}
.operator-row button{
    font-size: 20px;
    width: 90px;
}
/* Number button styling */
.number-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
.number-container button{
    height: 100px; 
    width: 100px ;
}