body{
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: antiquewhite;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.display{
    display: flex;
    border: 2px solid black;
    justify-content: center;
    height: 75px;
    align-items: center;
    font-size: 26px;
    background-color: white;
}
.controls{
    display: flex;
    flex-direction: column;
}